{% extends 'base.html.twig' %}

{% block title %}Contact | LocaBoat {% endblock %}

{% block content %}

    <div class="container">
        <h2 class="titreContact"> Contact </h2>
        
        <div class="divContact">
            <h4> N'hésitez à prendre contact avec notre équipe.</h4> <br>
            <p><strong> Par mail :</strong> support@locaboat.fr  </p> 
            <p> Du Lundi au Vendredi, de 9h à 18h. Nous répondons à toutes vos questions. </p> 
                        
            <p><strong> Par téléphone </strong> : 09 00 00 00 00  </p> 
            <p> Du Lundi au Vendredi, de 9h à 18h. On s'appelle ? </p>

            <br>

            <p><strong>Adresse :</strong> 717 Av. Jean Mermoz, 34000 Montpellier</p>
            <p><strong>Service client :</strong> serviceclient@locaboat.fr</p>
            <p><strong>Support technique :</strong> support.technique@locaboat.fr</p>
        </div>
    </div>





{% endblock %}
